<!--<app-loader *ngIf="loading"></app-loader>-->
<ng-container *ngIf="item !== null; else initState">
  <div class="row">
    <div class="list-group">
      <div class="list-group-item ">
        <h4 class="list-group-item-heading">{{ item.name }}</h4>

        <!--
        TODO: Wie kann ich key & value ausgeben?

        key value pipe funktioniert nicht
        https://angular.io/api/common/KeyValuePipe

        <div *ngFor="let item of object | keyvalue">{{ item.key }}:{{ item.value }}</div>
        -->
        <ng-container *ngIf="item?.entityType === StarWarsTopic.People">
          <app-main-detail-people [item]="item"></app-main-detail-people>
        </ng-container>
        <ng-container *ngIf="item?.entityType === StarWarsTopic.Planets">
          <app-main-detail-planet [item]="item"></app-main-detail-planet>
        </ng-container>
        <ng-container *ngIf="item?.entityType === StarWarsTopic.Starships">
          <app-main-detail-starship [item]="item"></app-main-detail-starship>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #initState>
  <div class="row">
    <div class="col-xs-14">
      <h3>Please select an item! 🧑‍🚀 🪐 🚀 </h3>
    </div>
  </div>
</ng-template>
