<app-loader *ngIf="loading"></app-loader>
<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-xs-14">
      <h3>{{ planet.name }}</h3>
    </div>
    <div class="col-xs-14">
      <h5>Properties</h5>
      <div class="row">
        <div class="col-xs-4">Population: </div>
        <div class="col-xs-8">{{ planet.population }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Climate: </div>
        <div class="col-xs-8">{{ planet.climate }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Terrain: </div>
        <div class="col-xs-8">{{ planet.terrain }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Diameter: </div>
        <div class="col-xs-8">{{ planet.diameter }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Rotation Period: </div>
        <div class="col-xs-8">{{ planet.rotation_period }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Orbital Period: </div>
        <div class="col-xs-8">{{ planet.orbital_period }}</div>
      </div>
    </div>
  </div>
</ng-container>
