<div class="row list-group-item-text">
  <div class="col-xs-4 ">Gender:</div>
  <div class="col-xs-8 ">{{ item.gender }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Birth Year:</div>
  <div class="col-xs-8 ">{{ item.birth_year }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Height:</div>
  <div class="col-xs-8 ">{{ item.height }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Mass:</div>
  <div class="col-xs-8 ">{{ item.mass }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Hair Color:</div>
  <div class="col-xs-8 ">{{ item.hair_color }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Skin Color:</div>
  <div class="col-xs-8 ">{{ item.skin_color }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Eye Color:</div>
  <div class="col-xs-8 ">{{ item.eye_color }}</div>
</div>