<app-loader *ngIf="loading"></app-loader>
<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-xs-14">
      <h3>{{ starship.name }}</h3>
    </div>
    <div class="col-xs-14">
      <h5>Properties</h5>
      <div class="row">
        <div class="col-xs-4">Model: </div>
        <div class="col-xs-8">{{ starship.model }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Class: </div>
        <div class="col-xs-8">{{ starship.starship_class }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Manufacturer: </div>
        <div class="col-xs-8">{{ starship.manufacturer }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Cost: </div>
        <div class="col-xs-8">{{ starship.cost_in_credits }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Length: </div>
        <div class="col-xs-8">{{ starship.length }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Crew: </div>
        <div class="col-xs-8">{{ starship.crew }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Crew: </div>
        <div class="col-xs-8">{{ starship.passengers }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Crew: </div>
        <div class="col-xs-8">{{ starship.max_atmosphering_speed }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Hyperdrive Rating: </div>
        <div class="col-xs-8">{{ starship.hyperdrive_rating }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Cargo Capacity: </div>
        <div class="col-xs-8">{{ starship.cargo_capacity }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Consumables: </div>
        <div class="col-xs-8">{{ starship.consumables }}</div>
      </div>
    </div>
  </div>
</ng-container>
