<div class="row">
  <div class="col-xs-4"><h3>{{ subHeadline | capitalize }}</h3></div>
  <div class="col-xs-8">
    <form class="navbar-form navbar-right" role="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search for {{ subHeadline | capitalize }}"
          formControlName="search">
      </div>
      <button
        [disabled]="!isFormControlValid()"
        type="submit"
        class="btn btn-primary"
        style="margin-left: 10px">Submit
      </button>
    </form>
  </div>
</div>
<hr>
<!--  TODO: warum funktioniert "else" nicht?-->
<div *ngIf="(items$ | async) as itemList" class="row">
  <div *ngIf="itemList.length > 0">
    <div class="col-md-5">
      <div class="list-group">
        <app-main-list [itemList]="itemList"></app-main-list>
      </div>
    </div>
    <div class="col-md-7">
      <app-main-detail [item]="item$ | async"></app-main-detail>
    </div>
  </div>
  <!--  TODO: warum funktioniert "else" nicht?-->
  <div *ngIf="!(itemList.length > 0)" class="row">
    <div class="alert alert-info" role="alert">
      No Results found. Don't be sad, we can find something else!
      Try
      <a (click)="onDefaultSearch()" class="alert-link" style="cursor: pointer">
        {{ defaultSearchItem | capitalize }}
      </a> for instance!
    </div>
  </div>
</div>

