<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="input-group" style="margin-bottom: 20px">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Add a new Character"
                    ngModel
                    name="name">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="list-group" >
    <ng-container *ngFor="let people of peopleList$">
        <div
            class="list-group-item list-group-item-action"
            style="cursor:pointer;"
            routerLinkActive="active"
            *ngIf="people.hasOwnProperty('uid'); else disabledItem"
            [routerLink]="[people.uid]"
        >
            {{ people.name }}
        </div>
        <ng-template #disabledItem>
            <div class="list-group-item list-group-item-action disabled">{{ people.name }}</div>
        </ng-template>
    </ng-container>
</div>


