<div class="row list-group-item-text">
  <div class="col-xs-4 ">Population:</div>
  <div class="col-xs-8 ">{{ item.population }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Climate:</div>
  <div class="col-xs-8 ">{{ item.climate }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Terrain:</div>
  <div class="col-xs-8 ">{{ item.terrain }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Diameter:</div>
  <div class="col-xs-8 ">{{ item.diameter }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Rotation Period:</div>
  <div class="col-xs-8 ">{{ item.rotation_period }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">Orbital Period:</div>
  <div class="col-xs-8 ">{{ item.orbital_period }}</div>
</div>