<app-loader *ngIf="loading"></app-loader>
<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-xs-14">
      <h3>{{ people.name }}</h3>
    </div>
    <div class="col-xs-14">
      <h5>Properties</h5>
      <div class="row">
        <div class="col-xs-4">Gender: </div>
        <div class="col-xs-8">{{ people.gender }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Birthyear: </div>
        <div class="col-xs-8">{{ people.birth_year }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Height: </div>
        <div class="col-xs-8">{{ people.height }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Mass: </div>
        <div class="col-xs-8">{{ people.mass }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Hair Color: </div>
        <div class="col-xs-8">{{ people.hair_color }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Skin Color: </div>
        <div class="col-xs-8">{{ people.skin_color }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">Eye Color: </div>
        <div class="col-xs-8">{{ people.eye_color }}</div>
      </div>


    </div>
  </div>
</ng-container>
