<div class="row">
  <div class="col-xs-4"><h3>Starships</h3></div>
  <div class="col-xs-8">
    <form class="navbar-form navbar-right" role="search" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <input
            type="text"
            class="form-control"
            placeholder="Starship-Search"
            ngModel
            required
            name="search">
      </div>
      <button
          [disabled]="f.invalid"
          type="submit"
          class="btn btn-primary"
          style="margin-left: 10px">Submit</button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-5">
    <div class="list-group">
      <app-starship-list></app-starship-list>
    </div>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
