<div class="row list-group-item-text">
  <div class="col-xs-4 ">model:</div>
  <div class="col-xs-8 ">{{ item.model }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">starship_class:</div>
  <div class="col-xs-8 ">{{ item.starship_class }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">manufacturer:</div>
  <div class="col-xs-8 ">{{ item.manufacturer }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">cost_in_credits:</div>
  <div class="col-xs-8 ">{{ item.cost_in_credits }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">length:</div>
  <div class="col-xs-8 ">{{ item.length }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">crew:</div>
  <div class="col-xs-8 ">{{ item.crew }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">max_atmosphering_speed:</div>
  <div class="col-xs-8 ">{{ item.max_atmosphering_speed }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">passengers:</div>
  <div class="col-xs-8 ">{{ item.passengers }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">hyperdrive_rating:</div>
  <div class="col-xs-8 ">{{ item.hyperdrive_rating }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">cargo_capacity:</div>
  <div class="col-xs-8 ">{{ item.cargo_capacity }}</div>
</div>
<div class="row list-group-item-text">
  <div class="col-xs-4 ">consumables:</div>
  <div class="col-xs-8 ">{{ item.consumables }}</div>
</div>